name: Deploy FastAPI Application

on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout-code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: tusharanumula
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/tusharanumula/github-actions-deploy
            git pull
            docker compose up -d --build
